.s6Pure__03-Awards {
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;

  & img {
    width: 8rem;
    height: auto;

    &:not(:last-of-type) {
      margin-right: 8%;
    }
  }
}