.s6Pure__06-Suction {
  padding-top: 6.4rem;
  margin-bottom: 6.4rem;

  &__text {
    @include S6Pure-text-box;
  }

  & h2 {
    @include S6Pure-H2($align: center);
    //margin-bottom: 3.2rem;
    transform: translateY(12rem); // animated in js
    opacity: 0; // animated in js
    transition: all .5s;
    transition-delay: .6s;
  }

  & p {
    @include S6Pure-paragraph($align: center);
    //width: 80%;
    //max-width: 80rem;
    margin: 0 auto -10rem;
    transform: translateY(12rem); // animated in js
    opacity: 0; // animated in js
    transition: all .8s;
  }

  &__rpm {
    position: relative;
    display: block;
    font-size: 20rem;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to bottom, #bbb, #fff);
    background-clip: text;
    z-index: -1;
    transform: translateY(30rem); // animated in js
    opacity: 0; // animated in js
    transition: all 1s;
    transition-delay: .2s;

    @media only screen and (max-width: 1100px) {
      font-size: 16vw;
      margin-top: 3vw;
    }

    @media only screen and (max-width: 750px) {
      margin-top: 12vw;
    }

    @media only screen and (max-width: 450px) {
      margin-top: 20vw;
    }
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
    padding: 2rem;
  }
}


// js classes

.slideUp-Suction {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.slideUp-rpm-Suction {
  transform: translateY(8rem) !important;
  opacity: 1 !important;

  @media only screen and (max-width: 1100px) {
    transform: translateY(7vw) !important;
  }
}