.s6Pure__11-Color {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #eee;
  padding: 8rem;
  padding-bottom: 4rem;
  margin-bottom: 6.4rem;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 100%;
  }

  @media only screen and (max-width: 750px) {
    padding: 4rem;
    padding-bottom: 0;
  }

  &__text {
    grid-column: 1 / 2;
    align-self: center;

    @media only screen and (max-width: 1000px) {
      margin-bottom: 6.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & h2 {
      font-size: 3.6rem;
      font-weight: 500;

      @media only screen and (max-width: 500px) {
        font-size: 2.4rem;
      }

      @media only screen and (max-width: 350px) {
        font-size: 2rem;
        margin-bottom: 4rem;
      }
    }

    & p {
      font-size: 1.4rem;
      color: #999;
      margin-bottom: 4rem;

      @media only screen and (max-width: 350px) {
        display: none;
      }
    }
  }

  &__button {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    transition: all .2s;

    &:hover {
      box-shadow: 0 0 0 3px #ccc;
    }

    &--white {
      background-color: #fff;
      margin-right: 2.4rem;
    }

    &--black {
      background-color: #000;
    }
  }

  &__gallery {
    grid-column: 2 / 3;

    @media only screen and (max-width: 1000px) {
      grid-column: 1 / 2;
    }

    & .owl-carousel {
      display: flex;
      flex-direction: column;
    }

    & .owl-stage-outer {
      order: 1;
      margin-bottom: 4rem;
    }

    & img {
      display: block !important;
      width: 75% !important;
      height: auto !important;
      margin: 0 auto !important;

      @media only screen and (max-width: 1000px) {
        width: 90% !important;
        max-width: 35rem;
      }
    }

    & .owl-nav {
      order: 3;
      position: relative;
      transform: translateY(-6.2rem);
    }

    & .owl-prev,
    & .owl-next {
      font-size: 5.6rem !important;
      line-height: 1 !important;
      color: #666 !important;
      transition: all .2s;

      &:hover {
        color: #888 !important;
        background-color: transparent !important;
      }

      & span {
        padding: 0 1.6rem;
      }
    }

    & .owl-prev {
      margin-right: 16rem !important;

      @media only screen and (max-width: 450px) {
        margin-right: 10rem !important;
      }
    }

    & .owl-next {

    }

    & .owl-dots {
      order: 2;
    }

    & .owl-dot span {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }
  }
}


// js classes

.s6PureColor-button-active {
  box-shadow: 0 0 0 3px #aaa;
}