@import "partials/destyle";
@import "partials/base";
@import "partials/variables";
@import "partials/typography";
@import "partials/mixins";
@import "partials/utilities";

//s6Pure Layounts
@import "partials/s6Pure_Layouts/01-Banner";
@import "partials/s6Pure_Layouts/02-Video";
@import "partials/s6Pure_Layouts/03-Awards";