@mixin photoBoxFull {
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: cover;
  }
}

@mixin center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} 

/// S6-Max-V mixins
@mixin S6MaxV-text-box($max-width) {
  width: 80%;
  max-width: $max-width;
  margin: 0 auto;

  @media only screen and (max-width: 420px) {
    width: 90%;
  }
}

@mixin S6MaxV-paragraph($align: center, $color: var(--color-txt-grey-darker)) {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: $align;
  color: $color;

  @media only screen and (max-width: 600px) {
    text-align: left;
  }

  @media only screen and (max-width: 420px) {
    font-size: 1.6rem;
  }
}

@mixin S6MaxV-note($align: center, $color: var(--color-txt-grey-darker)) {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: $align;
  color: $color;

  @media only screen and (max-width: 600px) {
    text-align: left;
  }
}


/// E4 mixins
@mixin E4-text-box($max-width: 90rem) {
  width: 80%;
  max-width: $max-width;
  margin: 0 auto;

  @media only screen and (max-width: 420px) {
    width: 90%;
  }
}

@mixin E4-paragraph($align: center, $color: var(--color-txt-grey-darker)) {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: $align;
  color: $color;

  @media only screen and (max-width: 600px) {
    text-align: left;
  }
}

@mixin E4-section-padding($vertical: 12rem, $horizontal: 2rem) {
  padding: $vertical $horizontal;

  @media only screen and (max-width: 600px) {
    padding: 8rem 2rem;
  }
}


/// S6 Pure mixins
@mixin S6Pure-text-box($max-width: 80rem) {
  width: 80%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin S6Pure-H2($align: left, $color: #000) {
  font-size: 3.6rem;
  text-align: $align;
  font-weight: 500;
  margin-bottom: 4rem;

  @media only screen and (max-width: 600px) {
    text-align: left;
  }

  @media only screen and (max-width: 420px) {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

@mixin S6Pure-paragraph($align: center, $color: #000) {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: $align;
  color: $color;

  @media only screen and (max-width: 600px) {
    text-align: left;
  }

  @media only screen and (max-width: 420px) {
    font-size: 1.6rem;
  }
}