.displayNone {
  display: none !important;
}

.opacity20 {
  opacity: .2;
}

.opacity0 {
  opacity: 0 !important;
}

.opacity100 {
  opacity: 1 !important;
}


// js classes
.slideUpAndShow {
  margin-top: 0 !important;
  opacity: 1 !important;
 }

.marginLeft0 {
  margin-left: 0 !important;
}

 .positionFixedTop {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   z-index: -1 !important;
 }


/// Tooltips 
.tooltip {
  border-bottom: 1px dotted var(--color-info);
  vertical-align: baseline;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: var(--color-info);
  }

  &:hover + sup {
    color: var(--color-info);
  }
}

.tooltiptext {
  display: block;
  position: fixed;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 130rem;
  font-size: 1.4rem;
  text-align: left;
  padding: 1.6rem 4rem 1.6rem 4em;
  color: #fff;
  background-color: var(--color-info);
  z-index: 999;
  opacity: 0;
  transition: opacity .2s, bottom .3s;
}


 // js classes for tooltips
 .showTooltipText {
   bottom: 0 !important;
   opacity: 1 !important;
 }

 .colorInfo {
   color: var(--color-info) !important;
 }

 .tooltipCloseBtn {
   display: block;
   position: absolute;
   top: -5.2rem;
   right: 2.4rem;
   width: 4rem;
   height: 4rem;
   background-color: rgba(255, 255, 255, .7);
   border: 3px solid var(--color-info);
   border-radius: 50%;
   vertical-align: middle;
   transition: background-color .2s;
  
   &::before,
   &::after {
     display: block;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 70%;
     height: 2px;
     background-color: var(--color-info);
     transition: all .15s;
   }

   &::before {
     transform: rotate(45deg);
   }

   &::after {
     transform: rotate(-45deg);
   }

   &:hover {
     cursor: pointer;
   }

   &:hover::before,
   &:hover::after {
     transform: rotate(0);
   }

   &:focus {
     background-color: var(--color-info);
   }

   &:focus::before,
   &:focus::after {
     background-color: #fff;
   }
 }